<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
</head>

<body>

    <header style="background-color: white" class="fixed inset-0 w-30 flex flex-col justify-center justify-items-center content-center h-20 rounded-b-lg ml-3">
        <img src="/static/images/logoo.png" alt="Logo" class="object-contain w-20 self-left md:self-left md:w-30">
        <div class="fixed inset-12 flex justify-end justify-items-center content-center content-end h-20 rounded-b-lg mr-3 space-x-2" style="color:#004A56;">
                <a href="home.html">Home</a>
                <a href="services.html">Services</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact</a>
        </div>
    </header>

    <section class="flex flex-wrap mt-20 w-full" style="background-color: #004A56;">
        <div class="flex self-center w-full flex flex-col md:h-screen" style="color:white">
            <div class="ml-36 w-auto mt-10 md:h-fit m-2 p-8 text-xl self-center justify-center">
                <h1 class="ml-60">About Our Website</h1>
                <h5>Metaphor Detection and Data Summarization Website using HTML,Tailwind CSS and Flask</h5> 
            </div>
            
            <h2 style="text-align:center">Our Team</h2>
            <div class="mt-5 ml-48 inset-80 flex justify-center justify-items-center content-center content-end h-20 rounded-b-lg mr-3 space-x-2">
              <div class="mr-10">
                <div class="card">
                  <img src="/static/images/Anu.jpg" alt="A M Anu Meena" style="inline-size:87%">
                  <div class="container">
                    <h2 class="mr-6 flex justify-center">A M Anu Meena</h2>
                    <p class="mr-6 flex justify-center">ENG19CS0001</p>
                    <p>ENG19CS0001.anu@gmail.com</p>
                    <a href="mailto:eng19cs0001.anu@gmail.com">
                      <p class="mr-6 flex justify-center">
                        <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg" type="submit">
                          Contact
                        </button>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            
              <div class="right-1">
                <div class="ml-7">
                  <img src="/static/images/Amelin.jpg" alt="Amelin Fernandes" style="inline-size:82%">
                  <div>
                    <h2 class="mr-6 flex justify-center">Amelin Fernandes</h2>
                    <p class="mr-6 flex justify-center">ENG19CS0028</p>
                    <p>eng19cs0028.amelin@gmail.com</p>
                    <a href="mailto:eng19cs0028.amelin@gmail.com">
                      <p class="mr-6 flex justify-center">
                        <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg" type="submit">
                          Contact
                        </button>
                      </p>
                    </a>
                    
                  </div>
                </div>
              </div>
              
              <div class="right-1">
                <div class="ml-2">
                  <img src="/static/images/Deeksha.jpg" alt="Deeksha J Reddy" style="inline-size:65%">
                  <div>
                    <h2 class="mr-28 flex justify-center">Deeksha J Reddy</h2>
                    <p class="mr-28 flex justify-center">ENG19CS0081</p>
                    <p>ENG19CS0081.deekshareddy@gmail.com</p>
                    <a href="mailto:eng19cs0081.deekshareddy@gmail.com">
                      <p class="mr-6 flex justify-center">
                        <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg" type="submit">
                          Contact
                        </button>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="right-1">
                <div class="ml-0">
                  <img src="/static/images/Dona.jpg" alt="Dona S Manjunath" style="inline-size:62%">
                  <div class="container">
                    <h2 class="mr-28 flex justify-center">Dona S Manjunath</h2>
                    <p class="mr-28 flex justify-center">ENG19CS0090</p>
                    <p>ENG19CS0090.donamanjunath@gmail.com</p>
                    <a href="mailto:eng19cs0090.donamanjunath@gmail.com">
                      <p class="mr-6 flex justify-center">
                        <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg" type="submit">
                          Contact
                        </button>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            </div>
    </section>
</body>
</html>