<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metaphor Detection</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
</head>

<body>

    <header style="background-color: white" class="fixed inset-0 w-30 flex flex-col justify-center justify-items-center content-center h-20 rounded-b-lg ml-3">
        <img src="/static/images/logoo.png" alt="Logo" class="object-contain w-20 self-left md:self-left md:w-30">
        <div style="color: #004A56;">Metaphor Detection</div>
        <div class="fixed inset-12 flex justify-end justify-items-center content-center content-end h-20 rounded-b-lg mr-3 space-x-2" style="color:#004A56;">
                <a href="index.html">Home</a>
                <a href="services.html">Services</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact</a>
        </div>
    </header>

    <section class="flex flex-wrap mt-20 w-full" style="background-color: #004A56;">
        <div class="flex self-center w-full flex flex-col md:h-screen">
                <p class="w-3/4 mt-56 md:h-fit m-2 p-8 text-5xl text-center border-black rounded-lg border self-center justify-center" cols="30" rows="10" style="background-color: white">We also offer Data Summarization services!</p>
                    <div class="flex self-center">
                        <a href="textsum.html">
                            <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg">Click here</button>
                        </a>
                    </div>
        </div>
    </section>
</body>
</html>